snippet class "CSS class"
.${1:name class} {
	$0
}
endsnippet

snippet id "CSS id"
#${1:name class} {
	$0
}
endsnippet

snippet transition "CSS Transition"
-webkit-transition: ${1//$0/}s ease;
-o-transition: ${1//$0/}s ease;
transition: ${1:0.3}s ease;
endsnippet
