snippet snvar "Snippet Input Variable"
${${1:Number}:${2:Name}}
endsnippet

snippet snmirror "Snippet Input Mirror Variable"
${${1:Number}///}
endsnippet

snippet snpt "Snippet Sniper"
snippet ${1:Name} "${2:Description}"
${4:Template}
${3:endsnippet}
endsnippet

	

