snippet snfolding "Snippet Folding Order"
# ${1:NameFolding} {{{
$0
# }}}
endsnippet

snippet snvar "Snippet Input Variable" i
${${1:Number}:${2:Name}}
endsnippet

snippet sniper "Snippet Sniper"
snippet ${1:Name} "${2:Description}"
${4:Content}
${3:endsnippet}
endsnippet
	

	

